<h1>Alerts#index</h1>
<p>Find me in app/views/alerts/index.html.erb</p>
<p> 警告一覧</p>
<%= @is_signage %>

<% if @is_signage %>
  <p> サイネージ中 </p>
  <p data-controller="timer-counter" data-timer-counter-target="timer" id="timer">経過時間: 0.0 秒</p>
<% end %>
